body {
    background: #b6b6b6;
    margin:0;
    padding:0;
    font-family:arial;
}

#login_form{
    width:300px;
    background:#f0f0f0;
    border: 1px solid white;
    margin: 250px auto 0;
    padding: 1em;
    
}